body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #002b5c;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h2 {
    color: #002b5c;
}

.shop-grid {
    display: flex;
    gap: 20px;
}

.produto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    border: 1px solid #ddd;
}
